
<!-- Template for Info Detail  -->
<div class="header row {{category.type}}">
	<div class="row">
		<div class="col-md-2">
    		{{detail.investmentName}}
    	</div>
    	<div class="col-md-2">
    		<div style="height:30px">
			    <label class="control-label" >Purchase Price</label>			    
			    <label class="control-label" >$25,000,000</label>			    
			</div>
    		<div style="height:30px">
			    <label class="control-label">Closing Data</label>			    
			    <label class="control-label" >12/31/2015</label>			    
			</div>
    	</div>
    	<div class="col-md-4" >  
    		<div class="note">		
   				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua incididunt ut labore et dolore magna aliquaincididunt ut labore et dolore magna aliqua......
   			</div>
    	</div>
    </div>
</div>